{% extends 'charts/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="bg-secondary">
    <div class="container">
        <!-- Main Chart (PnL) Row -->
        <div class="row mb-5">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body shadow p-3 mb-5 bg-white">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4 class="text-center">Trades Data</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <canvas id="chart1"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Recent Trades Row -->
        <div class="row mb-5">
            <!-- Left Column -->
            <div class="col-lg-6">
                <div class="card h-100">
                    <div class="card-body shadow bg-white">
                        <div class="col-lg-12">
                            <h6 class="align-left">Recent Trades</h6>
                        </div>
                        <div class="col-lg-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                    <th scope="col">Ticker</th>
                                    <th scope="col">Position</th>
                                    <th scope="col">Shares</th>
                                    <th scope="col">PnL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for trade in trades %}
                                    <tr>
                                    <td>{{ trade.ticker|upper }}</td>
                                    <td>{{ trade.position }}</td>
                                    <td>{{ trade.shares }}</td>
                                    <td>{{ trade.pnl }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Column -->
            <div class="col-lg-6">
                <div class="card h-100">
                    <div class="card-body shadow bg-white">
                        <div class="col-lg-12">
                            <h6 class="align-left">Future Growth</h6>
                        </div>
                        <div class="col-lg-12">
                            <canvas id="compoundedGrowth"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'charts/js/getData.js' %}"></script>
{% endblock %}