{% extends 'trades/base.html' %}

{% block content %}
    <div class="container form-container cont">
        <div class="jumbotron">
            <div class="row mt-3">
                <div class="col-lg-6">
                    <h1 class="display-4">Add a New Trade</h1>
                </div>
                <div class="col-lg-6 text-center">
                    <a href="{% url 'trades:index' %}" class="btn btn-dark btn-lg">Go Back</a>
                </div>
            </div>
        </div>

        <!-- Form -->
        <form method="POST" action="{% url 'trades:add' %}" class="form-group form">
            {% csrf_token %}
            <label>{{ form.ticker.label }}</label>
            <input placeholder="{{ form.ticker.label }}" name="{{ form.ticker.name }}" class="form-control" type="text">

            <label>{{ form.position.label }}</label>
            <select name="{{ form.position.name }}" class="form-control">
                <option>Long</option>
                <option>Short</option>
            </select>

            <label>{{ form.shares.label }}</label>
            <input placeholder="{{ form.shares.label }}" name="{{ form.shares.name }}" class="form-control" type="number">

            <label>{{ form.entry_date.label }}</label>
            <input placeholder="{{ form.entry_date.label }} | xx/xx/xx" name="{{ form.entry_date.name }}" class="form-control" type="text">

            <label>{{ form.exit_date.label }}</label>
            <input placeholder="{{ form.exit_date.label }} | xx/xx/xx" name="{{ form.exit_date.name }}" class="form-control" type="text">

            <label>{{ form.entry_price.label }}</label>
            <input placeholder="{{ form.entry_price.label }}" name="{{ form.entry_price.name }}" class="form-control" type="number" step="0.01">

            <label>{{ form.exit_price.label }}</label>
            <input placeholder="{{ form.exit_price.label }}" name="{{ form.exit_price.name }}" class="form-control" type="number" step="0.01">

            <label>{{ form.pnl.label }}</label>
            <input placeholder="{{ form.pnl.label }}" name="{{ form.pnl.name }}" class="form-control" type="number" step="0.01">

            <label>{{ form.entry_comments.label }}</label>
            <input placeholder="{{ form.entry_comments.label }}" name="{{ form.entry_comments.name }}" class="form-control" type="textarea">

            <label>{{ form.exit_comments.label }}</label>
            <input placeholder="{{ form.exit_comments.label }}" name="{{ form.exit_comments.name }}" class="form-control" type="textarea">
            <br>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
{% endblock %}