{% extends 'trades/base.html' %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <div class="row text-center">
            <div class="col-lg-6">
                <h1>Trade History</h1>
            </div>
            <div class="col-lg-6">
                <a href="{% url 'trades:add' %}" class="btn btn-success btn-lg">Add a Trade</a>
            </div>
        </div>
    </div>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Ticker</th>
            <th scope="col">Position</th>
            <th scope="col">Shares</th>
            <th scope="col">Entry Date</th>
            <th scope="col">Exit Date</th>
            <th scope="col">Entry Price</th>
            <th scope="col">Exit Price</th>
            <th scope="col">PnL</th>
            <th scope="col">Entry Comments</th>
            <th scope="col">Exit Comments</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
            {% for trade in trades %}
            <tr class="trade-row">
                <th scope="row" class="font-weight-normal">{{ trade.ticker|upper }}</th>
                <th class="font-weight-normal">{{ trade.position }}</th>
                <th class="font-weight-normal">{{ trade.shares }}</th>
                <td>{{ trade.entry_date|date:"m/d/y" }}</td>
                <td>{{ trade.exit_date|date:"m/d/y" }}</td>
                <td class="entryPrice">${{ trade.entry_price }}</td>
                <td class="exitPrice">${{ trade.exit_price|default_if_none:"" }}</td>
                <td class="pnl">${{ trade.pnl|default_if_none:"" }}</td>
                <td>{{ trade.entry_comments|truncatechars:15 }}</td>
                <td>{{ trade.exit_comments|truncatechars:15|default_if_none:"" }}</td>
                <td><button type="button" class="btn btn-info btn-sm updateButton" data-id="{{ trade.id }}" data-toggle="modal" data-target="#updateModal">Update</button></td>
                <td><button type="button" class="btn btn-danger btn-sm deleteButton" data-id="{{ trade.id }}" data-toggle="modal" data-target="#myModal">Delete</button></td>
            </tr>
            {% endfor %}
        </tbody>
        <a href="/trades/csv_write" class="btn btn-link float-right" id="downloadCSV">Download CSV</a>
      </table>

<!-- MODAL CONFIRMTAION -->
{% include 'trades/confirm_modal.html' %}

<!-- Update Modal -->
{% include 'trades/update_modal.html' %}


{% endblock %}
