{% extends 'registration/base.html' %}

{% block content %}

<!-- If user is logged in -->
{% if user.is_authenticated %}
<div class="body">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#accountModal">Update Profile</button>
                    </div>
                </div>
                {% for d in data %}
                <div class="row">
                    <div class="col-lg-12 text-center">
                        {% if d.profile_image %}
                        <img src="{{ d.profile_image.url }}" class="img-fluid" id="profile_image">
                        {% endif %}
                    </div>
                </div><br><hr>
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="text-center text-muted display-4">{{ d.full_name }}</h2>
                    </div>
                </div><br><hr>
                <div class="row">
                    <div class="col-lg-6">
                        <label>Account Balance</label>
                        <p class="text-center display-4 text-muted">${{ d.account_balance }}</p>
                    </div>
                    <div class="col-lg-6">
                        <label>Account % Change</label>
                        <p class="text-center display-4 text-muted">{{ percent_change }}%</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% include 'registration/account_form.html' %}
{% else %}
<p>Please Log in</p>
{% endif %}
{% endblock %}