html, body {
    margin:0;
    padding:0
}

#closeUpdate {
    position: absolute;
    top: 5px;
    right: 15px;
}

.form {
    margin: 0 auto;
    max-width: 800px;
}

.success {
    color: green;
}

.fail {
    color: red;
}